/* 
    Author: Wyatt Allaby
    Date:   6-11-2021
 */

* {
  padding: 0px;
  margin: 0px;
}

button {
  border: 2px dotted #f1f1f1;
  border-radius: 20px;
  background-color: #f1f1f1;
  flex-direction: row;
}

p.intro {
  font-style: italic;
  color: black;
  text-decoration: underline;
  text-align: center;
}

.myScore {
  text-align: center;
}

canvas {
  border: 2px solid #f1f1f1;
  border-top: none;
  border-bottom: none;

  margin-left: auto;
  margin-right: auto;
  display: flex;
}
